<div class="row m-3" [ngStyle]="{'color':myColor}">
  <div class="col-md-12">
    <strong>tap</strong>
    <hr>

    <div class="row">
      <div class="col-md-4 border">
        <strong>Ex - 01</strong>
        <hr>
        <p class="border rounded bg-light p-2"><strong>tap : </strong> </p>
        <ul id="el1">
        </ul>
      </div>
      <div class="col-md-4 border">
        <strong>Ex - 02</strong>
        <hr>
        <p class="border rounded bg-light p-2"><strong>tap : </strong> </p>
        <ul id="el2">
        </ul>
      </div>

    </div>
  </div>
</div>