<div class="row m-3">
  <div class="col-md-12">
    <strong>Ex-1 : of</strong>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <p class="border rounded bg-light p-2">
          <strong>Data : </strong>A, B, C
        </p>
        <hr>
        <ul id="elContainer"></ul>
      </div>
      <div class="col-md-6">
        <p class="border rounded bg-light p-2">
          <strong>Data : </strong>&#123;a:A, b:B, c:C&#125;
        </p>
        <hr>
        <ul id="elContainer2">
          <li><strong>a:</strong>{{msg.a}}</li>
          <li><strong>b:</strong>{{msg.b}}</li>
          <li><strong>c:</strong>{{msg.c}}</li>
        </ul>
      </div>
    </div>


  </div>
  <div class="col-md-12">
    <strong>Ex-2 : from</strong>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <strong>With Array data </strong>
        <hr>
        <p class="border rounded bg-light p-2">
          <strong>Data : </strong>
          from(['Aa', 'Bb', 'Cc'])
        </p>
        <hr>
        <ul id="elContainer3"></ul>
      </div>

      <div class="col-md-4">
        <strong>With Promise data</strong>
        <hr>
        <p class="border rounded bg-light p-2">
          <strong>Data : </strong>
          promise to observable
        </p>
        <hr>
        <ul id="elContainer4"></ul>
      </div>
      <div class="col-md-4">
        <strong>With String data</strong>
        <hr>
        <p class="border rounded bg-light p-2">
          <strong>Data : </strong>
          string to observable
        </p>
        <hr>
        <ul id="elContainer5"></ul>
      </div>
    </div>
  </div>
</div>