<div class="row m-3">
  <div class="col-md-12">
    <strong>map</strong>
    <hr>

    <div class="row">
      <div class="col-md-4 border">
        <strong>Ex - 01</strong>
        <hr>
        <p class="border rounded bg-light p-2"><strong>Map : </strong> 'Video' + data</p>
        <strong class="text-success">{{msg1}}</strong>
        <ul id="elContainer1">

        </ul>
      </div>
      <div class="col-md-4 border">
        <strong>Ex - 02</strong>
        <hr>
        <p class="border rounded bg-light p-2"><strong>Map</strong> data * 10 </p>
        <strong class="text-success">{{msg2}}</strong>

        <ul id="elContainer2">

        </ul>
      </div>
      <div class="col-md-4 border">
        <strong>Ex - 03</strong>
        <hr>
        <p class="border rounded bg-light p-2"><strong>Map</strong> Map object data </p>
        <ul id="elContainer3">

        </ul>
      </div>
    </div>
  </div>
</div>